[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Zap
GenericName=TerminalEmulator

Exec=zap-terminal %U
StartupWMClass=dev.zap.Zap

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.zap.Zap

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for zap:// URLs.
MimeType=x-scheme-handler/zap;
